<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!-- 开启使用注解-->
    <context:component-scan base-package="com.springmvc"/>

    <bean id="propertyConfigurer" class="com.configclient.common.MyPlaceHolder">
        <constructor-arg name="url" value="http://127.0.0.1:8080/server/app/property"/>
        <constructor-arg name="environment" value="DEV"/>
        <constructor-arg name="serviceName" value="DataService"/>
    </bean>

    <!--需要手动引入client的xml，否则无法加载它的bean，mq配置等等-->
    <import resource="classpath*:configCenterContext.xml"/>

    <!--这里的bean不要有与client中的同名，否则会被覆盖，或者有冲突说多个bean-->

    <!--数据库配置-->
    <import resource="database.xml"/>
    <!--mq配置-->
    <!--<import resource="mq.xml"/>-->

</beans>
